a:hover {
    background-color: #7e5bef;
}

a:active {
    background-color: #592dea;
}

input {
    outline: none;
    box-shadow: none;
}

input:focus {
    border-color: #1fb6ff;
}

input:active {
    border-color: #85d7ff;
}