.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: #0066ff;
    transition: font-size 2500ms;
    transition: background-color 2500ms;
    transition: all 2500ms;
}

.box.active {
    font-size: 30px;
    background-color: #ff4949;
}