@font-face {
    font-family: "Cafe24SsurroundAir";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    font-family: "Cafe24SsurroundAir";
    margin: 0;
}

.line {
    position: absolute;
    background-color: white;
}

.horozontal {
    width: 100%;
    height: 1px;
}

.vertical {
    height: 100%;
    width: 1px;
}

.target {
    position: absolute;
    transform: translate(-50%, -50%);
}

.tag {
    color: white;
    position: absolute;
    font-size: 24px;
    margin: 20px;
}